.wrapper{
    width: 80%;
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 0.8em;
    font-weight: bold;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.app__details{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}
.app__icon{
    width:9rem;
    padding-bottom: 1rem;
}
.app__title{
    text-transform: uppercase;
    text-align: center;
}
.amount{
    font-size: 1.2rem;
    text-transform: uppercase;
}
.amount__input{
    background-color: turquoise;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.dropdowns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:2rem;
}

.dropdowns__select{
    background-color: turquoise;
    border-radius: 50px;
    padding:0.5rem;
    transition: 0.3s;
    font-weight: bold;
}
.convert__button{
    background-color: green;
    border-radius: 50px;
    padding: 1em 7em;
    color:white;
    transition: 0.3s;
    font-weight: bold;
    font-size: 1rem;
}
.convert__button:hover{
    cursor: pointer;
    background-color: darkgreen;
    transition: 0.3s;
}
input:hover{
    cursor: pointer;
    background-color: #19b2e6;
    transition: 0.3s;
}
select:hover{
    cursor: pointer;
    background-color: #19b2e6;
    transition: 0.3s;
}
.result{
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    .app__icon{
        width: 7rem;
    }
    .convert__button{
        padding: 1rem 4rem;
    }
}
